@use '@angular/material' as mat;

.cadastro-container {
    height: calc(100vh - 72px);
}

.register-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}

.register-subtitle {
    font-size: 1rem;
    color: #757575;
    margin-top: 0.5rem;
}