<div class="flex items-center justify-center cadastro-container">
        <mat-card class="login-card mat-elevation-z8" style="width: 20%">
  
            <mat-card-header class="login-card-header">
              <mat-card-title class="login-title">Seja Bem-vindo(a)!</mat-card-title>
              <mat-card-subtitle class="login-subtitle">Faça o cadastro para continuar</mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content>
              <form class="login-form">
        
                <mat-form-field class="w-full">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" placeholder="Nome" required>
                  </mat-form-field>

                  <mat-form-field class="w-full">
                    <mat-label>Sobrenome</mat-label>
                    <input matInput type="text" placeholder="Sobrenome" required>
                  </mat-form-field>

                <mat-form-field class="w-full">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" placeholder="seu@email.com" required>
                </mat-form-field>
                
    
                <div class="flex justify-center">
                    <button mat-flat-button class="login-button" type="submit">CONFIRMAR</button>
                </div>
        
              </form>
            </mat-card-content>
        
          </mat-card>
    </div>