<div class="flex items-center justify-center box">
    <div id="editar"
        class="shadow-xl/30 place-content-center w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
        style="background-color: #ce7e5d;">
        <form class="space-y-6" (ngSubmit)="enviarFormulario()" #form="ngForm">
            <h5 class="text-3xl font-medium text-center text-gray-900 dark:text-white">Editar livro</h5>
            <div>
                <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Título</label>
                <input type="text" name="title" id="title" [(ngModel)]="book.title"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-black 
                    focus:border-black block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" style="background-color: #ffff" required />
            </div>
            <div>
                <label for="author" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Autor</label>
                <input type="text" name="author" id="author" [(ngModel)]="book.author"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
                    style="background-color: #ffff" required />
            </div>
            <div class="grid grid-cols-2" style="gap: 15px;">
                <div>
                    <label for="publishedYear" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ano
                        de publicação</label>
                    <input type="number" name="publishedYear" id="publishedYear" [(ngModel)]="book.publishedYear"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black" style="background-color: #ffff" required />
                </div>

                <div>
                    <label for="genre"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gênero</label>
                    <button id="dropdownGenre" data-dropdown-toggle="genreRadio"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-black"
                        type="button" style="background-color: #ffff">
                        <div class="items-center flex justify-between">
                            <span>{{selectedGenre}}</span>
                            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </div>
                    </button>

                    <div id="genreRadio"
                        class="z-10 hidden w-48 border border-gray-300 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:divide-gray-600">
                        <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                            aria-labelledby="dropdownGenre" *ngFor="let genre of genres">
                            <li>
                                <div class="flex items-center">
                                    <input [id]="genre" type="radio" [value]="genre" name="genre" required
                                        [(ngModel)]="book.gender" (change)="selecionarGenero(genre)" id="genre"
                                        class="appearance-none w-4 h-4 text-orange-900 bg-gray-100 border-gray-300 focus:ring-orange-900 focus:ring-2">
                                    <label for="{{genre}}"
                                        class="ms-2 text-sm font-medium text-gray-900">{{genre}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <button type="submit" id="edicao_btn"
                class="w-full text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium 
                rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                style="background-color: #a2543d">Atualizar</button>
        </form>
    </div>
</div>
