<div class="chat-container-fixed">

    @if (isChatOpen) {
      <div class="chat-window">
        <div class="chat-header">
          <h3>Chatbot Gemini</h3>
          <button class="close-btn" (click)="toggleChat()">✕</button>
        </div>
  
        <div class="message-list">
          <div *ngFor="let message of messages" [ngClass]="{'user-message': message.author === 'user', 'bot-message': message.author === 'bot'}">
            {{ message.content }}
          </div>
        </div>
  
        <div class="input-area">
          <input [(ngModel)]="userInput" (keyup.enter)="sendMessage()" placeholder="Digite sua mensagem...">
          <button (click)="sendMessage()">Enviar</button>
        </div>
      </div>
    }
  
    <button class="chat-bubble" (click)="toggleChat()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white"><path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z"/></svg>
    </button>
  
  </div>