<div style="background-color: #f7d1ba" class="w-full h-screen">
    <mat-card appearance="outlined" class="bg-white shadow-xl/30">
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title class="text-center text-shadow-lg/30" style="color: #a2543d">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" placeholder="Ex. user@example.com">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide() ? 'password' : 'text'" />
                <button matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="flex justify-content">
            <button matButton="filled" style="background-color: #a2543d">ENTRAR</button>
        </mat-card-actions>
    </mat-card>
</div>