button {
    transition: transform 0.3s ease;
}

button:hover {
    box-shadow: 2px 2px 6px #7a402e;
}

.book-gallery {
  margin-top: 5%;
}

.book-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  isolation: isolate;
}

.book-image-container {
  box-shadow: 2px 2px 8px #000000;
  border-radius: 10px;
}

.book-image-container,
.book-info {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.book-info {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3rem;
  z-index: 10;
  pointer-events: none;
}

.book-info #btn-titulo-livro {
    pointer-events: auto;
}

.book-image-container {
  cursor: pointer;
  transition: all 0.5s ease;
}

.book-image-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 
              0px 6px 6px rgba(0, 0, 0, 0.22);
  transition: all 0.5s ease;
}