@use '@angular/material' as mat;

.login-button {
    background-color: #a2543d;
    transition: transform 0.3s ease;
}

.login-button:hover {
    box-shadow: 2px 2px 6px #683627;
}

.cadastro-container {
    height: calc(100vh - 72px);
}

.register-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}

.register-subtitle {
    font-size: 1rem;
    color: #757575;
    margin-top: 0.5rem;
}

.go-to-login-btn {
    cursor: pointer;
    color: blue;
}

.go-to-login-btn:hover {
    color: #ce7e5d;
    text-decoration: underline;
}
