<div class="flex items-center justify-center cadastro-container" style="background-color: #F7F1ED;">
  <mat-card class="login-card mat-elevation-z8" style="width: 20%">
    <mat-card-header
      class="login-card-header grid justify-center"
      style="margin-top: 1rem; margin-bottom: 1rem"
    >
      <mat-card-title class="register-title">Seja Bem-vindo(a)!</mat-card-title>
      <mat-card-subtitle class="register-subtitle"
        >Faça o cadastro para continuar</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <form
        class="login-form"
        [formGroup]="cadastroForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field class="w-full">
          <mat-label>Nome</mat-label>
          <input matInput type="text" placeholder="Nome" formControlName="firstName" required />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Sobrenome</mat-label>
          <input matInput type="text" placeholder="Sobrenome" formControlName="lastName" required />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="seu@email.com" formControlName="email" required />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Senha</mat-label>
          <input matInput type="password" placeholder="********" formControlName="password" required />
        </mat-form-field>

        <div class="flex justify-center items-center" style="gap: 1rem;">
          <button mat-flat-button class="login-button" type="submit">
            CONFIRMAR
          </button>
          <a (click)="goToLogin()" class="go-to-login-btn">
            Fazer login
          </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
