<nav>
    <div class="container bg-brown-light h-8 w-full">
        <div class="flex justify-center align-center">
            <img src="assets/images/logo-library.png" alt="Logo"
            class="min-h-px min-w-px">
        </div>
        <div class="flex justify-start align-center">
            <button>
                <img src="assets/images/sidebar.png"
                class="h-8 w-8">
            </button>
        </div>
    </div>

    <app-menubar id="menubar"></app-menubar>
</nav>