a {
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.1);
}

button {
    transition: transform 0.3s ease;
}

button:hover {
    box-shadow: 2px 2px 6px #7a402e;
}

#botao-login {
    background-color: #a2543d;
    border-radius: 5px;
    padding: .5rem;
    width: 5rem;
    color: #fff;
    cursor: pointer;
}

.search-input {
  border-radius: 5px;
  border: none;
  width: 25rem;
}
