<div *ngIf="!auth.isAdmin()"
  class="relative shadow-md sm:rounded-lg p-4 bg-white border border-gray-200">

  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-brown-dark uppercase bg-beige-light">
      <tr>
        <th scope="col" class="px-6 py-3">Nome</th>
        <th scope="col" class="px-6 py-3">Autor</th>
        <th scope="col" class="px-6 py-3">Ano de Lançamento</th>
        <th scope="col" class="px-6 py-3">Class. Indicativa</th>
        <th scope="col" class="px-6 py-3">Gênero</th>
        <th scope="col" class="px-6 py-3">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of listBooks, let i = index" class="bg-white border-b hover:bg-beige-light">
        <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
          <a style="cursor: pointer;" (click)="goToBook(livro.id)"><img class="w-10 h-10 rounded-full" [src]=getImageUrl(livro.imagePath) alt="Capa do livro"></a>
          <div class="break-words whitespace-normal ps-3">
            <div class="text-base font-semibold">{{livro.title}}</div>
          </div>
        </th>
        <td class="px-6 py-4">{{livro.author}}</td>
        <td class="px-6 py-4">{{livro.publishedYear}}</td>
        <td class="px-6 py-4">
          <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full"
            [ngClass]="contentRatingColors[livro.contentRating]">{{ contentRatingLabels[livro.contentRating] || 'N/A' }}</span>
        </td>
        <td class="px-6 py-4">{{livro.gender}}</td>
        <td class="px-6 py-4">
            <span style="color: rgb(97, 197, 97); font-weight: bold;" class="flex gap-3 items-center" *ngIf="listaCheckList[i].status == 'READ'">
              LIDO
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(97, 197, 97)" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
              </svg>              
            </span>
            <span *ngIf="listaCheckList[i].status == 'WANT_TO_READ'" style="color: rgb(207, 207, 43); font-weight: bold;" class="flex gap-3 items-center">
              PARA LER
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="rgb(207, 207, 124)" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"/>
              </svg>              
            </span>
        </td>
      </tr>
    </tbody>
  </table>

</div>