<div class="book-gallery flex flex-wrap gap-6 justify-center" style="color: #000; padding-top: 10rem; background-color: #fde4d4; padding-bottom: 5rem;">
  <div class="w-full text-center pb-10">
    <p style="font-weight: bold; font-size: 40px; color: #B68166;">
      TODOS OS TÍTULOS
    </p>
  </div>
  <div *ngFor="let livro of allBooks" class="book-card">
    <div class="book-image-container">
      <img [src]="apiBaseUrl + '/images/' + livro.imagePath" [alt]="'Capa do livro ' + livro.title" style="height: 30rem; width: 20rem; object-fit: cover; border-radius: 10px;">
    </div>
    <div class="book-info">
      <button mat-raised-button color="accent" id="btn-titulo-livro" (click)="goToLivro(livro.id)">{{ livro.title }}</button>
    </div>
  </div>
</div>
