<div class="flex flex-col w-full h-full grid gap-[10vw] text-white bg-beige-light z-1"
  style="background-color: #fde4d4">
  <div class="mb-8" style="margin-bottom: 20%;">
    <img src="assets/images/Lumon.png" class="z-2 absolute w-full">

    <button id="botao-login" type="button" (click)="goToLogin()" class="z-10 flex flex-col-reverse 
        justify-items-end-safe md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse
        text-white font-medium rounded-lg text-sm m-4 py-2 px-8 text-center font-bold"
      style="background-color: #a2543d; font-size: 20px;">Login</button>
  </div>

  <div class="mt-8" style="margin-top: 50%;">
    <app-livros-populares class="z-3"></app-livros-populares>
  </div>
</div>