.livre-style {
  color: lightgreen;
}
.dez-anos-style {
  color: lightblue;
}
.doze-anos-style {
  color: yellow;
}
.quatorze-anos-style {
  color: orange;
}
.dezesseis-anos-style {
  color: red;
}
.dezoito-anos-style {
  color: #000;
}
