<div
  *ngIf="livro$ | async as livro; else livroNotFound"
  class="flex justify-center items-center"
  style="height: calc(100vh - 72px); background-color: #fde4d4"
>
  <div
    id="livro"
    style="border-radius: 10px; padding: 1rem; background-color: #fff"
    class="flex gap-5"
  >
    <div class="imagem-livro">
      <img
        [src]="apiBaseUrl + '/images/' + livro.imagePath"
        [alt]="'Capa do livro ' + livro.title"
        style="height: 70vh; border-radius: 10px"
      />
    </div>
    <div class="flex flex-col infos-livro gap-5" style="width: 20rem">
      <div>
        <p
          style="
            color: #000;
            font-weight: bold;
            font-size: 40px;
            overflow-wrap: break-word;
          "
        >
          {{ livro.title }}
        </p>

        <p style="color: #000; font-size: 24px; font-weight: 500">
          {{ livro.author }}
        </p>
      </div>

      <div>
        <div class="grid items-center" style="color: #000; font-size: 18px">
          <span> Ano: {{ livro.publishedYear }} </span>
          <span> Páginas: {{ livro.pagesQuantity }} pág. </span>
          <span> Gênero: {{ livro.gender }} </span>
        </div>
      </div>

      <div [ngSwitch]="livro.contentRating">
        <div *ngSwitchCase="'LIVRE'">
          <span class="r-livre r">L</span>
        </div>

        <div *ngSwitchCase="'DEZ'">
          <span class="r-10 r">10+</span>
        </div>

        <div *ngSwitchCase="'DOZE'">
          <span class="r-12 r">12+</span>
        </div>

        <div *ngSwitchCase="'QUATORZE'">
          <span class="r-14 r">14+</span>
        </div>

        <div *ngSwitchCase="'DEZESSEIS'">
          <span class="r-16 r">16+</span>
        </div>

        <div *ngSwitchCase="'DEZOITO'">
          <span class="r-18 r">18+</span>
        </div>

        <div
          id="like-div"
          class="w-14 h-14"
          style="
            background-color: #fff;
            margin-top: 1rem;
            border-radius: 50%;
            background-color: rgb(235, 235, 235);
          "
        >
          <svg
            *ngIf="!isLiked"
            (click)="onLikeClick(livro.id)"
            class="btn-i-like w-14 h-14 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="lightgray"
            viewBox="0 0 24 24"
          >
            <path
              stroke="lightgray"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
            />
          </svg>
          <svg
            *ngIf="isLiked"
            (click)="onLikeClick(livro.id)"
            class="btn-i-like w-14 h-14 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="red"
            viewBox="0 0 24 24"
          >
            <path
              stroke="red"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
            />
          </svg>
        </div>

        <p *ngSwitchDefault class="text-xl font-bold">
          <span class="font-bold text-2xl" style="color: #000"
            >Classificação indicativa:
          </span>
          Não informada
        </p>
      </div>
    </div>
  </div>
</div>

<div
  *ngFor="let review of allReviews"
  class="book-card flex justify-center"
  style="background-color: #fde4d4;"
>
  <div class="review mb-3 p-3">
    <p *ngIf="review.rating == 0">☆☆☆☆☆</p>
    <p *ngIf="review.rating == 1">⭐☆☆☆☆</p>
    <p *ngIf="review.rating == 2">⭐⭐☆☆☆</p>
    <p *ngIf="review.rating == 3">⭐⭐⭐☆☆</p>
    <p *ngIf="review.rating == 4">⭐⭐⭐⭐☆</p>
    <p *ngIf="review.rating == 5">⭐⭐⭐⭐⭐</p>
    <p>{{ review.title }}</p>
    <p>{{ review.comment }}</p>
  </div>
</div>

<ng-template #livroNotFound>
  <app-not-found></app-not-found>
</ng-template>
