<div *ngIf="livro$ | async as livro;" class="flex justify-center items-center gap-5" style="height: calc(100vh - 72px);">
    <div class="imagem-livro">
        <img src="../../../assets/images/harry-potter.jpg" alt="" style="height: 70vh; border-radius: 10px;">
    </div>
    <div class="grid gap-5 infos-livro">
        <p class="text-xl"><span class="font-bold text-2xl">Título: </span>{{livro.title}}</p>
        <p class="text-xl"><span class="font-bold text-2xl">Autor: </span>{{livro.author}}</p>
        <p class="text-xl"><span class="font-bold text-2xl">Ano de publicação: </span>{{livro.publishedYear}}</p>
        <p class="text-xl"><span class="font-bold text-2xl">Número de páginas: </span>{{livro.pagesQuantity}}</p>
        <p class="text-xl"><span class="font-bold text-2xl">Gênero: </span>{{livro.gender}}</p>
    </div>
</div>

<div *ngIf="livro$">
  <p>NOT FOUND!</p>
</div>
