<div *ngIf="!auth.isAdmin()"
  class="relative shadow-md sm:rounded-lg p-4 bg-white border border-gray-200">

  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-brown-dark uppercase bg-beige-light">
      <tr>
        <th scope="col" class="px-6 py-3">Nome</th>
        <th scope="col" class="px-6 py-3">Autor</th>
        <th scope="col" class="px-6 py-3">Ano de Lançamento</th>
        <th scope="col" class="px-6 py-3">Class. Indicativa</th>
        <th scope="col" class="px-6 py-3">Gênero</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of listBooks" class="bg-white border-b hover:bg-beige-light">
        <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
          <img class="w-10 h-10 rounded-full" [src]=getImageUrl(livro.imagePath) alt="Capa do livro">
          <div class="break-words whitespace-normal ps-3">
            <div class="text-base font-semibold">{{livro.title}}</div>
          </div>
        </th>
        <td class="px-6 py-4">{{livro.author}}</td>
        <td class="px-6 py-4">{{livro.publishedYear}}</td>
        <td class="px-6 py-4">
          <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full"
            [ngClass]="contentRatingColors[livro.contentRating]">{{ contentRatingLabels[livro.contentRating] || 'N/A' }}</span>
        </td>
        <td class="px-6 py-4">{{livro.gender}}</td>
        <td class="px-6 py-4">
        </td>
      </tr>
    </tbody>
  </table>
</div>