<div>
    <h2 *ngIf="!errorMessage">Painel de Administração - Usuários do Sistema</h2>

    <!-- <app-full-screen-message></app-full-screen-message> -->
  
    <div *ngIf="users$ | async as users; else loading">
      <table class="table table-striped" *ngIf="users.length > 0; else noUsers">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Role</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button class="btn btn-sm btn-danger">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <ng-template #noUsers>
        <p class="alert alert-info">Nenhum usuário encontrado.</p>
      </ng-template>
    </div>
  
    <ng-template #loading>
      <p *ngIf="!errorMessage">Carregando usuários...</p>
    </ng-template>
  </div>