<div class="table-section-container">

  <h2 class="section-title" *ngIf="usersPage && usersPage.content.length > 0;">Gerenciamento de Usuários</h2>

  <div class="table-container">

    <table class="modern-table" *ngIf="usersPage && usersPage.content.length > 0;">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Cargo</th>
          <th>Ações</th> </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersPage.content">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span class="badge" [ngClass]="{
              'admin-badge': user.role === 'ADMIN',
              'user-badge': user.role === 'USER'
            }">
              {{ user.role }}
            </span>
          </td>
          <td class="actions-cell">
            <button class="action-btn edit-btn" title="Editar Usuário">✏️</button>
            <button class="action-btn delete-btn" title="Excluir Usuário" (click)="deletarUser(user.id!)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div *ngIf="usersPage && usersPage.totalPages > 1" class="pagination-controls">
    <button (click)="previousPage()" [disabled]="usersPage.number === 0">
      Anterior
    </button>
    <span>
      Página {{ usersPage.number + 1 }} de {{ usersPage.totalPages }}
    </span>
    <button (click)="nextPage()" [disabled]="usersPage.number >= usersPage.totalPages - 1">
      Próximo
    </button>
  </div>

</div>

<app-full-screen-message *ngIf="errorMessage"></app-full-screen-message>
