<div class="py-16 sm:py-24">
  <h2 style="color: #a2543d; margin-top: 5rem"
  class="text-center font-semibold text-2xl sm:text-3xl md:text-4xl mb-8 pb-12">
    Descubra o que está em alta
  </h2>

  <div class="grid grid-cols-4 sm:grid-cols-4 gap-4">
    <div *ngFor="let livro of livrosEmAlta"
      class="relative bg-black/60 rounded-md h-80 flex items-end justify-center hover:bg-black/80 transition overflow-hidden">
      <img [src]="livro.imagem" [alt]="livro.titulo" class="absolute rounded-lg h-full object-cover" />
      <div class="text-white font-medium rounded-lg text-sm m-4 p-2 text-center">
        <button matButton="tonal" class="font-2xl">{{ livro.titulo }}</button>
      </div>
    </div>
  </div>
</div>